<ion-view view-title="Rank">
  <ion-nav-title>
    <div class="title-bar">
      <div class="button-bar period-bar">
        <a class="button button-outline button-positive" ng-class="{'active' : period.text === data.period}" 
          ng-click="data.period = period.text; getRank(period.value)"
          ng-repeat="period in periodList">{{period.text}}</a>
      </div>      
    </div>
  </ion-nav-title>
  <!--<ion-content class="padding" overflow-scroll="true">-->
  <ion-content overflow-scroll="true">

    <!--<center>
      <h4>핸드폰 사용시간 순위</h4>
    </center>-->

    <div class="list card" ng-repeat="rank in rankList">

      <div class="item item-avatar2 item-icon-right card-content">
        <img ng-src="{{ rank.profile_image_url }}">
        <div class="card-info">
          <h2>{{$index+1}}위</h2>
          <p>닉네임 : {{ rank.nick_name }}</p>
          <p>나이 : {{ rank.age }}</p>
          <p>총 사용시간 : {{ rank.day | number:1}}시간</p>
          <a ng-click="details = !details">
            <i class="icon ion-ios-arrow-down"></i>
          </a>
        </div>
      </div>

      <div class="item item-image" ng-show="details">
        <img ng-src="{{ rank.profile_image_url }}">
      </div>

      <div class="item item-icon-left positive button-block">
        <i class="icon ion-ios-chatbubble"></i>
        <center>오픈채팅</center>
      </div>

    </div>

  </ion-content>
</ion-view>