<ion-view view-title="Rank">
  <ion-nav-title>
    <div class="title-bar">
      <div class="button-bar period-bar">
        <a class="button button-outline button-positive" ng-class="{'active' : period.text === data.period}" ng-click="data.period = period.text; getRank(period.value)"
          ng-repeat="period in periodList">{{period.text}}</a>
      </div>      
    </div>
  </ion-nav-title>
  <ion-content class="padding">

    <h2>핸드폰 사용시간 순위</h2>

    <!--<div class="list card" ng-repeat="rank in rankList">-->
    <div ng-repeat="rank in rankList">

      {{rank}}
      <!--<div class="item item-avatar2 item-icon-right card-content">
        <img ng-src="{{ rank.member.profileImageUrl }}">
        <div class="card-info">
          <h2>{{$index+1}}위</h2> <br>
          <p>닉네임 : {{ rank.member.nickName }}</p>
          <p>나이 : {{ rank.member.age }}</p>
          <p>평점 : {{ rank.score | number:1}}</p>
          <a ng-click="details = !details">
            <i class="icon ion-ios-arrow-down"></i>
          </a>
        </div>
      </div>

      <div class="item item-image" ng-show="details">
        <img ng-src="{{ rank.member.profileImageUrl }}">
      </div>

      <button class="item item-icon-left positive button-block" ng-disabled="!isOppositeGender(rank.member.gender)" ng-click="loginCheck(rank.member.id)">
        <i class="icon ion-ios-chatbubble"></i>
        <center>오픈채팅</center>
      </button>-->

    </div>

  </ion-content>
</ion-view>